<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ilb_phone_num</key>
		<string>13902478208</string>
		<key>ilb_update_time</key>
		<string>2012-14-16</string>
		<key>ilb_origin_addr</key>
		<string>The UIViewController in which I had implemented the preferredStatusBarStyle was used in a UITabBarController, which controlled the appearance of the views on the screen.</string>
		<key>ilb_order_status</key>
		<string>未完成</string>
		<key>ilb_destination_addr</key>
		<string>计算方法就开始登记方式开发和健康老师都很费劲的沙发里就是福建海事局答复</string>
		<key>ilb_remark</key>
		<string>方式健康的附件是；快递费就；撒风景；阿克苏的积分卡仕达；交付；开始的减肥了电视剧付款；大家是否</string>
	</dict>
	<dict>
		<key>ilb_phone_num</key>
		<string>15372641103</string>
		<key>ilb_update_time</key>
		<string>Sync at 23 mins ago</string>
		<key>ilb_origin_addr</key>
		<string>IT Department Uminted (ITDEPT) 尖沙咀10号宝发工业大厦</string>
		<key>ilb_order_status</key>
		<string>未完成</string>
		<key>ilb_destination_addr</key>
		<string>Nike sport1 wera shop (NKHBC)海港城二期3楼A店</string>
		<key>ilb_remark</key>
		<string>入仓取货时，请自带笔和纸，货物送抵，请及时通知公司，以便跟进</string>
	</dict>
	<dict>
		<key>ilb_phone_num</key>
		<string>18978454861</string>
		<key>ilb_update_time</key>
		<string>Sync at 27 mins ago</string>
		<key>ilb_origin_addr</key>
		<string>IT Department Uminted (ITDEPT) 尖沙咀10号宝发工业大厦</string>
		<key>ilb_order_status</key>
		<string>未完成</string>
		<key>ilb_destination_addr</key>
		<string>sfsdfusdkfjsdklNike sport1 wera shop (NKHBC)海港城二期3楼A店ksdjflksdjf;sdlkjf sk;dfjlkadsfcdf</string>
		<key>ilb_remark</key>
		<string>入仓取货时，请自带笔和纸，货物送抵，请及时通知公司，以便跟进</string>
	</dict>
	<dict>
		<key>ilb_phone_num</key>
		<string>13323432678</string>
		<key>ilb_update_time</key>
		<string>Sync at 2 mins ago</string>
		<key>ilb_origin_addr</key>
		<string>IT Department Uminted (ITDEPT) 尖沙咀10号宝发工业大厦</string>
		<key>ilb_order_status</key>
		<string>未完成</string>
		<key>ilb_destination_addr</key>
		<string>sfsdfusdkfjsdklNike sport1 wera shop (NKHBC)海港城二期3楼A店ksdjflksdjf;sdlkjf sk;dfjlkadsfcdf</string>
		<key>ilb_remark</key>
		<string>入仓取货时，请自带笔和纸，货物送抵，请及时通知公司，以便跟进</string>
	</dict>
	<dict>
		<key>ilb_phone_num</key>
		<string>15623432678</string>
		<key>ilb_update_time</key>
		<string>Sync at 19 mins ago</string>
		<key>ilb_origin_addr</key>
		<string>IT Department Uminted (ITDEPT) 尖沙咀10号宝发工业大厦</string>
		<key>ilb_order_status</key>
		<string>未完成</string>
		<key>ilb_destination_addr</key>
		<string>Nike sport1 wera shop (NKHBC)海港城二期3楼A店ksdjflksdjf;sdlkjf sk;dfjlkadsfcdf</string>
		<key>ilb_remark</key>
		<string>入仓取货时，请自带笔和纸，货物送抵，请及时通知公司，以便跟进</string>
	</dict>
	<dict>
		<key>ilb_phone_num</key>
		<string>13908432678</string>
		<key>ilb_update_time</key>
		<string>Sync at 9 mins ago</string>
		<key>ilb_origin_addr</key>
		<string>IT Department Uminted (ITDEPT) 尖沙咀10号宝发工业大厦sjflsdfsfjsdkfsjkdfjiwpefu isnkldfnlkdjfnlksdjfnlsdajfm</string>
		<key>ilb_order_status</key>
		<string>未完成</string>
		<key>ilb_destination_addr</key>
		<string>Nike sport1 wera shop (NKHBC)海港城二期3楼A店ksdjflksdjf;sdlkjf sk;dfjlkadsfcdf</string>
		<key>ilb_remark</key>
		<string>入仓取货时，请自带笔和纸，货物送抵，请及时通知公司，以便跟进</string>
	</dict>
</array>
</plist>
